body{
    background-color: rgb(231, 230, 230);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: rgb(52, 157, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0px 20px;
}

nav a{
    margin: 10px;
}