body{
    background-color: rgb(231, 230, 230);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: rgb(52, 157, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0px 20px;
}

nav a{
    margin: 10px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post{
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
}

.post p{
    border-top: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
    padding: 20px;
}
.post h3{
    padding: 0px 20 px;
    font-weight: normal;
}

.post h3 span{
    font-weight: bold;
}

.post button{
    border-radius: 20px;
    width: 50px;
    padding: 5px;
    color: white;
    background-color: rgb(52, 157, 243);
    border-color: none;
}